# Frontend
aic-frontend/node_modules/
aic-frontend/.pnp
aic-frontend/.pnp.js
aic-frontend/coverage/
aic-frontend/build/
aic-frontend/npm-debug.log*
aic-frontend/yarn-debug.log*
aic-frontend/yarn-error.log*

# Backend
aic-backend/__pycache__/
aic-backend/*.pyc
aic-backend/.venv/
aic-backend/venv/
aic-backend/*.db

# General
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Storeaic-frontend/node_modules/
